<h1 class="mt-4"><a href="/dashboard">Dashboard</a></h1>
<div class="row">
    <div class="col-md-6">
        <p class="lead mb-3">Welcome <%= user.name %></p>
        <p class="mb-3">Last login: <%= user.lastLogin%></p>
    </div>
    <div class="col-md-6 text-right">
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
</div>

<ul class="list-group list-group-horizontal">
    <li class="list-group-item border-0">
        <a href="/dashboard"
            class="btn <%= url.includes("/dashboard") ? 'btn-primary' : 'btn-secondary'%>">DashBoard</a>
    </li>
    <li class="list-group-item border-0">
        <a href="/current-log" class="btn <%= url.includes("/current-log") ? 'btn-primary' : 'btn-secondary'%>">Log
            <%= user.name %></a>
    </li>
    <% if (user.role.position === 1) { %>
    <li class="list-group-item border-0">
        <a href="/log-all" class="btn <%= url.includes("/log-all") ? 'btn-primary' : 'btn-secondary'%>">All Log</a>
    </li>
    <% } %>
</ul>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach((user, index) => { %>
        <tr>
            <th scope="row"><%= index %></th>
            <td><%=user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role?.name %></td>
            <td>
                <a href="/user/<%= user._id %>"><i class="fas fa-edit"></i></a>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>